<!-- <app-login  *ngIf="!display">
  <app-sidebar></app-sidebar>
  </app-login> -->
<div class="wrapper default-theme" [ngClass]="getClasses()">
  <app-navbar ></app-navbar>
  <main>
    <!-- <app-sidebar *ngIf="isLoggedIn$ | async as isLoggedIn"></app-sidebar> -->
    <!-- <app-sidebar *ngIf="!isAuth"></app-sidebar> -->
    <app-sidebar *ngIf="isLoggedIn"></app-sidebar>
    <div class="pages container-fluid pt-4 pb-4 pl-4 pr-4 ">
      <router-outlet></router-outlet>
      <hr>
      <app-footer></app-footer>
    </div>
    <div class="overlay" (click)="toggleSidebar()"></div>
  </main>
</div>
