<div class="card m-3">
    <h5 class="card-header">AJOUTER CLIENT :</h5>
    <div class="card-body">
        <form #ajouterClientForm='ngForm' (ngSubmit)='Client()'>

            <div class="form-group">
                <label>Code </label>
                <input type="text" class="form-control" [(ngModel)]='utilisateur.code'
                 [ngModelOptions]="{standalone: true}"
                placeholder="Code">
            </div>
            <div class="form-group">
                <label>Nom</label>
                <input type="text" class="form-control" [(ngModel)]='utilisateur.username'
                [ngModelOptions]="{standalone: true}"
               placeholder="Nom">
            </div>
            <div class="form-group">
                <label>Raison social</label>
                <input type="text" class="form-control" [(ngModel)]='utilisateur .raisonSocial'
                  [ngModelOptions]="{standalone: true}" placeholder="Raison social">
            </div>
            <div class="form-group">
                <label>Adresse</label>
                <input type="text" class="form-control" [(ngModel)]='utilisateur.adress'
                [ngModelOptions]="{standalone: true}"
               placeholder="Adresse">
            </div>
            <div class="form-group">
                <label>Adresse e-mail</label>
                <input type="email" class="form-control" [(ngModel)]='utilisateur.emailAddress'
                  [ngModelOptions]="{standalone: true}"
              placeholder="Adresse email">
            </div>
            <div class="form-group">
                <label>Téléphone/Fax</label>
                <input type="text" class="form-control" [(ngModel)]='utilisateur.tel'
                [ngModelOptions]="{standalone: true}"
                placeholder="Téléphone/Fax">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-lightning rounded-0 mb-2 mr-2" >ajouter</button>
            </div>
        </form>
    </div>
</div>

