<div class="btn-group">
    <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" (click)="consulter()"> Consulter</button>
</div>
<div class="btn-group">
    <div class="btn-group">
        <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" (click)="ajouterClient()"> Ajouter
            client
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" (click)="modifierClient()">Modifier Client
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" (click)="supprimerClient()">Supprimer
            Client
        </button>
    </div>
        <div class="btn-group">
            <div class="btn-group">
                <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" (click)="ajouterCompte()">
                    Ajouter un compte
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2" (click)="DesactiverCompte()">
                    Desactiver compte
                </button>
            </div>
        </div>
    </div>

