<div class="container">
    <div class="center" [style.color]="'Chocolate'">
        <h3 class="text-center mt-5 mb-5">
            LISTE DES PASSAGES
        </h3>
    </div>
    <input type="text" [(ngModel)]="passage_date" (input)="search()"
           placeholder="Cherchez selon la date ">

    <div class="d-flex flex-row-reverse bd-highlight mb-2">
        <div class="p-2 bd-highlight">
            <select (change)="onTableSizeChange($event)" class="custom-select">
                <option *ngFor="let size of tableSizes" [ngValue]="size">
                    {{ size }}
                </option>
            </select>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Etablissements</th>
            <th>Centres fort</th>
            <th>Date de passage</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of passage | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
        let i = index" [class.active]="i == currentIndex">
            <th scope="row">{{p.passage_id}}</th>
            <td> {{p.etablissement?.etablissement_libelle}}</td>
            <td>{{p.centre_fort?.centre_fort_libelle}}</td>
            <td>{{p.passage_date}}</td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <pagination-controls
                responsive="true"
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div>

</div>
