
<aside class="sidebar shadow-sm">
  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="./assets/img/user.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div *ngIf="authority === 'admin'" class="profile-details text-center pb-4">
      <!-- <p class="mb-0 text-uppercase name">Abderrahmen</p> -->
      <small class="text-uppercase role">{{info.username}}</small>
    </div>
    <div *ngIf="authority === 'user'" class="profile-details text-center pb-4">
      <!-- <p class="mb-0 text-uppercase name">Abderrahmen</p> -->
      <small class="text-uppercase role">{{info.username}}</small>
    </div>
  </div>
  <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
  </div>
  <nav class="sidebar-menu pt-3 pb-3">
    <div class="menu-header mt-3 mb-2">
      Les options
    </div>
    <ul class="menu-items">
      <li *ngIf="authority === 'admin'">

        <a href="#" routerLink="/reclamations" routerLinkActive="active">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
          <span>Reclamations</span>
        </a>
      </li>
      <li *ngIf="authority === 'admin'">
        <a href="#" routerLink="/listecommandes" routerLinkActive="active">
          <i class="fas fa-box-open"></i>
          <span>Télécommande</span>
        </a>
      </li>
      <li *ngIf="authority === 'admin'">
        <a href="#" routerLink="/gestionclients" routerLinkActive="active">
          <i class="fas fa-address-book"></i>

          <span>Gestion Clients</span>
        </a>
      </li>

      <li *ngIf="authority === 'user'">

        <a href="#" routerLink="/commandes-client" routerLinkActive="active">
          <i class="fas fa-box-open"></i>
          <span>Télécomande client</span>
        </a>
      </li>
      <li *ngIf="authority === 'user'">
        <a href="#" routerLink="/reclamations-client" routerLinkActive="active">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
          <span>Réclamation client</span>
        </a>
      </li>
      <li *ngIf="authority === 'user'">
        <a href="#" routerLink="passage" routerLinkActive="active">
          <i class="fa fa-tv"></i>
          <span>Consulter passage</span>
        </a>
      </li>
      <li *ngIf="authority === 'user'">
        <a href="#" routerLink="Montant" routerLinkActive="active">
          <i class="fa fa-tv"></i>
          <span>Montant collecté</span>
        </a>
      </li>
      <li *ngIf="authority === 'user'">
        <a href="#" routerLink="Montant" routerLinkActive="active">
          <i class="fa fa-tv"></i>
          <span>Montant allimenté</span>
        </a>
      </li>
      <li *ngIf="authority === 'user'">
        <a href="#" routerLink="BCT" routerLinkActive="active">
          <i class="fa fa-tv"></i>
          <span>Versement et retrait BCT</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
