<div class="row mb-4">

    <div class="col-md-12">
        <div class="card border-0 rounded-0">
            <div class="card-title mb-1 p-3">
                <div class="center" [style.color]="'Chocolate'">
                    <br>
                    <h3>LISTE DES CLIENTS </h3>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive-md">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Code</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Raison social</th>
                            <th scope="col">Adress</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Téléphone/Fax</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let c of utilisateurs; index as i">
                        <tr>
                            <th scope="row">{{i + 1}}</th>
                            <td>{{c.code}}</td>
                            <td>{{c.username}}</td>
                            <td>{{c.raisonSocial}}</td>
                            <td>{{c.adress}}</td>
                            <td>{{c.emailAddress}}</td>
                            <td>{{c.tel}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>

            </div>
        </div>

    </div>
</div>
