<div class="card m-3">
  <h5 class="card-header">ENVOYER UN E-MAIL</h5>
  <div class="card-body">
    <form #f="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Code de l'utilisateur</label>
        <input type="text" class="form-control" id="code" name="code" required #code="ngModel" [(ngModel)]="dataset.codeUser" placeholder="Entrez l'objet"/>
      </div>
     <div class="form-group">
      <label>Adresse E-mail</label>
      <input type="email" class="form-control" id="email" name="email" required #email="ngModel" [(ngModel)]="form.emailAddress" placeholder="Entrez le message"/>
  </div>
      <div class="form-group">
        <label>Object</label>
        <input type="text" class="form-control" id="subject" name="subject" required #subject="ngModel" [(ngModel)]="dataset.emailSubject" placeholder="Entrez le message"/>
      </div>
      <div class="form-group">
        <label>Message</label>
        <input type="text" class="form-control" id="content" name="content" required #content="ngModel" [(ngModel)]="dataset.emailContent" placeholder="Entrez le code de l'utilisateur"/>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1" [disabled]="!f.valid" (click)="onSubmit()">Envoyer</button>
      </div>
    </form>
  </div>
</div>
