<form #activerClientForm='ngForm' (ngSubmit)='Activer()'>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choisir client</option>
        <option value="1">ATB</option>
        <option value="2">BIAT</option>
        <option value="3">BH</option>
      </select>
    </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <input type="text" class="form-control" [(ngModel)]='activer.rs' [ngModelOptions]="{standalone: true}"
          placeholder="raison Social">
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <input type="text" class="form-control" [(ngModel)]='activer.login' [ngModelOptions]="{standalone: true}"
          placeholder="login">
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <input type="text" class="form-control" [(ngModel)]='activer.password' [ngModelOptions]="{standalone: true}"
          placeholder="mot de passe">
      </div>
    </div>
    </form>
